<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시판</title>
</head>
<body>

<div id="root">
  <header>
    <h1> 게시판</h1>
  </header>
  <hr />

  <nav>
    공주님~ 글 수정해주세요 제발
  </nav>
  <hr />
  <section id="container">
    <form id="modify" th:object="${test}" th:action = "@{'/board/'+ ${board.boardId}}" method="post">
      <input type="hidden" name = "_method" value = "put"/>
      <table>
        <tbody>
        <tr>
          <td>
            <label for="title">제목</label><input type="text" id="title" name="title" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="contents">내용</label><textarea id="contents" name="contents" ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <label for="author">작성자</label><input type="text" id="author" name="author" />
          </td>
        <tr>
          <td>
            <button type="submit">수정</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </section>
  <hr />
</div>
</body>
</html>