<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${board}">
                <td th:text="${board.boardId}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.author}"></td>
                <td th:text="${board.createTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>
            <a href="/new">글쓰기</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>
