<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${board}">
                <td th:text="${board.boardId}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.author}"></td>
                <td th:text="${board.createTime}"></td>
                <form id="delete" th:action = "@{'/delete/' + ${board.boardId}}" method="post">
                    <input type="hidden" name = "_method" value = "delete"/>
                    <td>
                        <button>삭제</button>
                    </td>
                </form>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>
            <button><a href="/new">글쓰기</a></button>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>
